<ul class="list-unstyled">
  <% impressions.each do |impression| %>
    <li class="media mb-3">
      <% if impression.book.image? %>
        <%= link_to impression do %><p>表紙：<br><%= image_tag impression.book.image.thumb %></p> <% end %>
      <% else %>
        <div class="d-inline-block" style="width: 200px; height: 200px; background-color: #eee">
          <%= link_to impression do %><p>表紙：<br>No Image</p><% end %> 
        </div>
      <% end %>
      
      <div class="media-body ml-3">
        <div>
          <p><%= impression.user.name %> <span class="text-muted">posted at <%= impression.created_at %></span></p>
        </div>
        <div>
          <p>タイトル：<%= impression.book.title %>
          <br>作者：<%= impression.book.writer %>
          <br>ISBN：<%= impression.book.isbn %>
          <br>評価：☆×<%= impression.star %>
          <br>感想:<br><%== impression.content.gsub(/\r\n|\r|\n/, "<br>") %></p>
        </div>
      </div>
    </li>
      
      <div class="text-center">
        <% if current_user.favorited?(impression) %>
          <%= form_with(model: current_user.favorites.find_by(impression_id: impression.id), local: true, method: :delete) do |f| %>
            <%= hidden_field_tag :impression_id, impression.id %>
            <%= f.submit 'お気に入り解除', class: 'btn btn-danger' %>
          <% end %>
        <% else %>
          <%= form_with(model: current_user.favorites.build(impression_id: impression.id), local: true) do |f| %>
            <%= hidden_field_tag :impression_id, impression.id %>
            <%= f.submit 'お気に入り登録', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
  <% end %>
  
  <%= paginate impressions %>
</ul>
