<div class="row">
  <aside class="col-sm-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @user.name %></h3>
      </div>
      <div class="card-body">
        <p>読書備忘録：〇冊</p>
        <p>お気に入り：〇件</p>
      </div>
    </div>
    <div class="form-group">
      <%= form_with(model: @book, url: search_books_path, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :isbn, 'ISBN(半角数字13桁，－抜き)' %>
          <%= f.text_field :isbn, class: 'form-control' %>
        </div>
        
        <%= f.submit 'ISBNコードで備忘録を登録', class:'btn btn-primary btn-block' %>
      <% end %>
    </div>
  </aside>
  <div class="col-sm-9">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">登録読書備忘録</a></li>
      <li class="nav-item"><a href="#" class="nav-link">お気に入り読書備忘録</a></li>
    </ul>
  </div>
</div>
